<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>This is your profile page</h1>
    <h2>Welcome</h2>
    <h3>Your Name is {{name}}</h3>
    {% if messages %}
     {% for message in messages %}
      <small {% if message.tags %} class= "{{message.tags}}"{% endif %}></small>{{message}}
     {% endfor %}
    {% endif %}
    <form action="", method = "post" novalidate>
            {% csrf_token %}
             {% if form.non_field_errors %}
              {% for error in form.non_field_errors  %}
                <p class="er"> {{error}} </p>
              {% endfor %} 
             {% endif %}
             {% for fm in form %}
               {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
             {% endfor %} 
             <input type="submit" value="Save">
    </form>
    <a href="{% url 'logout' %}">logout</a>
    <a href="{% url 'changepassword' %}">changepassword</a>
    <a href="{% url 'changepassword1' %}">changepassword1</a>
</body>
</html>